/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(address.css);
@import url(menu-top.css);
@import url(menu-mid.css);
@import url(logo.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: url(../img/body-bgr4.jpg) no-repeat 0 0;
  background-size: cover;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
  display: block;
  content: '';
  clear: both;
}

.page {
  margin: auto;
  width: 1000px;
  border-bottom: 3px solid #031d28;
  box-shadow: 3px 0 2px #084e6a, -3px 0 2px #084e6a;
  background-color: #fff;
}
.page_rest {
  border-bottom: 1px solid #138aa7;
}
.page_conteiner {
  height: 545px;
  overflow: hidden;
}
.page_conteiner_title {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #424c43;
}
.page_conteiner_text {
  line-height: 23px;
  color: #424c43;
}
.page_conteiner_title__mb45 {
  margin-bottom: 45px;
}
.page_conteiner_title__mb15 {
  margin-bottom: 15px;
}
.page_conteiner_info {
  float: left;
  border-right: 1px solid #c7cacf;
  padding: 0 13px 2000px 15px;
  margin-bottom: -20000px;
  width: 21%;
  background-color: #edeef0;
  box-sizing: border-box;
}
.page_conteiner_content {
  background-color: #fff;
}
.page_conteiner_news {
  padding: 0 13px 2000px 15px;
  margin-bottom: -20000px;
  background-color: #edeef0;
  border-left: 1px solid #c7cacf;
  float: right;
  width: 21%;
  box-sizing: border-box;
}
.page_footer {
  float: left;
  margin: 0 auto;
  margin: 8px 0 11px 395px;
  background-color: #0c739f;
  z-index: 3;
}
.page_footer_copyright {
  color: #fff;
}

.header {
  padding: 25px 34px 10px 35px;
  height: 160px;
  background-color: #fff;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
